<div id="info" class="page">
  <div class="divided title">
    Event Info
  </div>
  <div class="ui stackable centered page grid">
    <div class="column white-text">
      <p class="c2"><span class="c8">Hello!</span></p>
      <p class="c2 c13"><span class="c8"></span></p>
      <p class="c2">
        <span class="c8"
          >Thank you for confirming your spot. Here are some important things
          that might come in handy before the event:</span
        >
      </p>
      <p class="c2 c13"><span class="c8"></span></p>
      <p class="c2"><span class="c17">What we will provide</span></p>
      <ul class="c14 lst-kix_l6dfon6wyjqb-0 start">
        <li class="c2 c5"><span class="c8">WiFi</span></li>
        <li class="c2 c5">
          <span class="c8"
            >Meals (lunch and dinner on Saturday, breakfast and lunch on
            Sunday)</span
          >
        </li>
        <li class="c2 c5"><span class="c8">Showers</span></li>
        <li class="c2 c5"><span class="c8">Swag</span></li>
        <li class="c2 c5">
          <span class="c8">Hacking area (with tables and chairs)</span>
        </li>
        <li class="c2 c5"><span class="c8">Sleeping area</span></li>
      </ul>
      <p class="c2 c13"><span class="c8"></span></p>
      <p class="c2">
       <h2>What to bring</h2><h3> The Essentials</h3>
      </p>
      <ul class="c14 lst-kix_axxfuldwsu1u-0 start">
        <li class="c2 c5"><span class="c8">Laptop and charger</span></li>
        <li class="c2 c5">
          <span class="c8"
            >A UK adaptor (if you are coming from outside of the UK)</span
          >
        </li>
        <li class="c2 c5">
          <span class="c8">Valid Government/University ID for admission</span>
        </li>
        <li class="c2 c5">
          <span class="c8"
            >Towel and toiletries (we have showers and we encourage hackers to
            use them!)</span
          >
        </li>
      </ul>
      <p class="c2"><span class="c11">Optional</span></p>
      <ul class="c14 lst-kix_apodlw4j34up-0 start">
        <li class="c2 c5">
          <span class="c8"
            >A blanket (optional, but it might get a bit cold during the
            night!)</span
          >
        </li>
        <li class="c2 c5">
          <span class="c8">Sleeping bag/small pillow</span>
        </li>
        <li class="c2 c5">
          <span class="c8"
            >Headphones (it might get quite noisy during the event)</span
          >
        </li>
      </ul>
      <p class="c2 c13"><span class="c8"></span></p>
     <h3><p class="c2"><span class="c17">When is Hack the Burgh</span></p></h3> 
      <p class="c2">
        <span class="c8"
          >Registration will close at 11 AM on Saturday, 29 February 2020 and
          the closing ceremony will end at 5 PM on Sunday, 1 March 2020</span
        >
      </p>
      <p class="c2 c13"><span class="c8"></span></p>
      <h3><p class="c2"><span class="c11">Where is Hack the Burgh</span></p></h3>
      <p class="c2">
        <span class="c8"
          >Informatics Forum, 10 Crichton Street, Edinburgh EH8 9AB</span
        >
      </p>
      <p class="c2 c13"><span class="c8"></span></p>
     <h3><p class="c2">
        <span class="c11">How do I get to Hack the Burgh</span>
      </p></h3> 
      <ul class="c14 lst-kix_c96jm1iepqud-0 start">
        <li class="c2 c5">
          <span class="c11">From Edinburgh Airport</span>
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-1 start">
        <li class="c2 c10">
          <span
            >By car (Uber or cab): 27 minutes with an estimated fare of </span
          ><span class="c6">&pound;20-&pound;26</span>
        </li>
        <li class="c2 c10"><span class="c6">By bus</span></li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-2 start">
        <li class="c1">
          <span class="c6"
            >Option 1 (41 minutes one way, cost for return: &pound;10.90)</span
          >
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-3 start">
        <li class="c2 c7">
          <span class="c12">Take the </span><span class="c4">Airlink 100</span
          ><span class="c12">&nbsp;(Return ticket for &pound;7.50) until </span
          ><span class="c4">Haymarket Station</span
          ><span class="c6">&nbsp;(Stop HA) </span>
        </li>
        <li class="c2 c7">
          <span class="c12">From Haymarket Station, take the </span
          ><span class="c4">no. 2 bus</span
          ><span class="c12">&nbsp;(&pound;1.70 per journey) to </span
          ><span class="c4">The Jewel</span
          ><span class="c12">&nbsp;and stop at</span
          ><span class="c4 c18">&nbsp;Potterrow Station</span>
        </li>
        <li class="c2 c7">
          <span class="c12">Walk 3 minutes to the </span
          ><span class="c18 c4">Informatics Forum</span>
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-2">
        <li class="c1">
          <span class="c6"
            >Option 2 (46 minutes one way, cost for return: &pound;7.50)</span
          >
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-3 start">
        <li class="c2 c7">
          <span class="c12">Take the </span><span class="c4">Airlink 100</span
          ><span class="c12">&nbsp;(Return ticket for &pound;7.50) until </span
          ><span class="c4">Waverley Bridge </span
          ><span class="c6">(Stop WA)</span>
        </li>
        <li class="c2 c7">
          <span class="c12">Walk 13 minutes to the </span
          ><span class="c18 c4">Informatics Forum</span>
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-1">
        <li class="c2 c10">
          <span class="c12">We </span
          ><span class="c4">don&rsquo;t recommend walking the entire way</span
          ><span class="c12"
            >&nbsp;because it will take about 2 hours and 40 minutes!</span
          >
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-0">
        <li class="c2 c5">
          <span class="c11">From Edinburgh Waverley Station</span>
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-1 start">
        <li class="c2 c10">
          <span>By car (Uber or cab): 7 minutes with an estimated fare of </span
          ><span class="c6">&pound;3-&pound;4</span>
        </li>
        <li class="c2 c10">
          <span>By bus (11 minutes, cost for return: </span
          ><span class="c12">&pound;3.40)</span>
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-2 start">
        <li class="c1">
          <span>Walk 2 minutes to the </span
          ><span class="c17">North Bridge Station </span
          ><span>(Stop NE) and take the no. 7, 31, 37 bus to </span
          ><span class="c11">Surgeons&rsquo; Hall</span>
        </li>
        <li class="c1">
          <span>Walk 4 minutes to the </span
          ><span class="c11">Informatics Forum</span>
        </li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-1">
        <li class="c2 c10"><span class="c8">By foot</span></li>
      </ul>
      <ul class="c14 lst-kix_c96jm1iepqud-2 start">
        <li class="c1">
          <span>Walk 14 minutes to the </span
          ><span class="c11">Informatics Forum</span>
        </li>
      </ul>
      <p class="c2 c13"><span class="c11"></span></p>
     <h3> <p class="c2">
        <span class="c15"
          >What if I don&rsquo;t have a team/my team members did not get
          accepted?</span
        >
      </p></h3>
      <p class="c2">
        <span class="c3"
          >Part of the fun of a hackathon is meeting new people! We have
          allocated time at the beginning of the event for a team building
          activity for everyone to meet and form teams.</span
        >
      </p>
      <p class="c2 c13"><span class="c3"></span></p>
     <h3><p class="c2">
        <span class="c15">Communication during the event</span>
      </p></h3>
      <p class="c2">
        <span class="c3"
          >You will receive an invite to join our slack workspace where you can
          ask questions before, after and during the event, start building your
          team, join our fun challenges, request for music and so on!</span
        >
      </p>
      <p class="c2">
        <span class="c3"
          >Make sure you follow us on social media to stay updated as the event
          draws nearer!</span
        >
      </p>
      <p class="c2">
        <span class="c16">Instagram: </span
        ><span class="c9"
          ><a
            class="c0"
            href="https://www.google.com/url?q=https://www.instagram.com/hacktheburgh/&amp;sa=D&amp;ust=1582813645189000"
            >www.instagram.com/hacktheburgh/</a
          ></span
        >
      </p>
      <p class="c2">
        <span class="c16">Facebook: </span
        ><span class="c9"
          ><a
            class="c0"
            href="https://www.google.com/url?q=https://facebook.com/hacktheburgh&amp;sa=D&amp;ust=1582813645190000"
            >facebook.com/hacktheburgh</a
          ></span
        >
      </p>
      <p class="c2">
        <span class="c16">Twitter: </span
        ><span class="c9"
          ><a
            class="c0"
            href="https://www.google.com/url?q=https://twitter.com/hacktheburgh&amp;sa=D&amp;ust=1582813645190000"
            >twitter.com/hacktheburgh</a
          ></span
        >
      </p>
      <p class="c2 c13"><span class="c3"></span></p>
     <h3> <p class="c2">
        <span class="c15">I still have more questions&hellip;</span>
      </p></h3>
      <p class="c2">
        <span class="c16"
          >If there is anything that you&rsquo;d like to ask or clarify, please
          do not hesitate to contact us at </span
        ><span class="c9"
          ><a class="c0" href="mailto:hello@hacktheburgh.com"
            >hello@hacktheburgh.com</a
          ></span
        ><span class="c3"
          >. If you think you cannot make it to the event anymore, please
          indicate that on your dashboard so we can give your spot to another
          enthusiastic hacker!
        </span>
      </p>
      <p class="c2 c13"><span class="c3"></span></p>
      <p class="c2">
        <span class="c3"
          >We hope that the information above is useful. We wish you safe and
          smooth travels and hope to see you at the event!</span
        >
      </p>
      <p class="c2 c13"><span class="c3"></span></p>
      <p class="c2"><span class="c3">Regards,</span></p>
      <p class="c2 c13"><span class="c3"></span></p>
      <p class="c2"><span class="c16">The Hack the Burgh Team</span></p>
    </div>
  </div>
</div>
